<h1>Confirmation de Mail - Symphony_Comp</h1>

<p>
    Veuillez confirmez par le lien suivant (pas un scam): <br><br>
    <a href="{{ signedUrl|raw }}">CLIQUE</a>.
    Expire asap {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
