{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<h1>Qui sommes-nous ?</h1>
<p>Nous sommes une entreprise passionnée par le chocolat et la création de saveurs uniques pour nos clients.</p>
{% endblock %}
