{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<h1>Politique de confidentialité</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum neque sit amet dolor fermentum facilisis.</p>
{% endblock %}
