<h1>Wassup Beijing!</h1>

<p>Pour reset le password</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p> Expire asap ({{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}).</p>

<p>Cheers!</p>
