{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<h1>Modifier mon profil</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_profile') }}">Retour au profil</a>
{% endblock %}
